# **DESAFIO 03 - Diabetes**

**Contexto**

O diabetes está entre as doenças crônicas mais prevalentes nos Estados Unidos, afetando milhões de americanos a cada ano e exercendo uma pressão financeira significativa sobre a economia. O diabetes é uma doença crônica grave na qual os indivíduos perdem a capacidade de regular efetivamente os níveis de glicose no sangue e pode levar à redução da qualidade de vida e da expectativa de vida. Depois que diferentes alimentos são decompostos em açúcares durante a digestão, esses açúcares são então liberados na corrente sanguínea, sinalizando ao pâncreas o momento para liberar insulina. A insulina ajuda a permitir que as células dentro do corpo usem esses açúcares na corrente sanguínea como energia. O diabetes é geralmente caracterizado pelo corpo não produzir insulina suficiente ou ser incapaz de usar a insulina que é produzida tão efetivamente quanto necessário.

Complicações como doenças cardíacas, perda de visão, amputação de membros inferiores e doença renal estão associadas a níveis cronicamente altos de açúcar remanescentes na corrente sanguínea para aqueles com diabetes. Embora não haja cura, estratégias como perder peso, ter uma alimentação saudável, ser ativo e receber tratamentos médicos podem mitigar os danos da doença em muitos pacientes. O diagnóstico precoce pode levar a mudanças no estilo de vida e tratamento mais eficaz, tornando os modelos preditivos para risco de diabetes ferramentas importantes para autoridades públicas e de saúde pública.

É também importante reconhecer o alcance efetivo do problema. Os Centros de Controle e Prevenção de Doenças indicaram que, em 2018, 34,2 milhões de americanos tinham diabetes e 88 milhões tinham pré-diabetes. Além disso, o CDC estima que 1 em cada 5 diabéticos e cerca de 8 em cada 10 pré-diabéticos não estão cientes de seu risco. Embora existam diferentes tipos de diabetes, o diabetes tipo II é a forma mais comum e sua prevalência varia de acordo com a idade, educação, renda, localização, raça e outros determinantes sociais da saúde. Porém, grande parte do peso da doença ainda recai sobre aqueles de menor status socioeconômico. O diabetes também representa um desafio enorme para a economia, com custos de pacientes diagnosticados de aproximadamente 327 bilhões de dólares e custos totais com diabetes não diagnosticado e pré-diabetes se aproximando de 400 bilhões de dólares anualmente.

**Conteúdo**

O Behavioral Risk Factor Surveillance System (BRFSS) é uma pesquisa telefônica relacionada à saúde, coletada anualmente pelo CDC. A cada ano, a pesquisa coleta respostas de mais de 400.000 americanos sobre comportamentos de risco relacionados à saúde, condições crônicas de saúde e uso de serviços preventivos. Ela é realizada todos os anos desde 1984. Para este desafio, temos um csv relacionado ao ano de 2015. As variáveis representam perguntas feitas diretamente ou variáveis ​calculadas com base nas respostas individuais dos participantes.

**A base**

A base pode carregada [daqui](https://github.com/cassiusf/datasets/raw/refs/heads/main/desafios/diabetes_health_indicators.csv) e o objetivo é prever se o paciente tem risco aumentado para diabetes ou não.

O conjunto de dados possui 253.680 respostas de pesquisa para o BRFSS2015 do CDC. A variável alvo `Diabetes_012` tem 3 classes (0 é para nenhum diabetes ou apenas durante a gravidez, 1 é para pré-diabetes e 2 é para diabetes). O conjunto de dados tem 21 variáveis.

Nome da variável Função Tipo Descrição demográfica Unidades Valores ausentes
- **Diabetes_012** -  Variável alvo.
- **HighBP** - 0 = sem PA alta, 1 = PA alta
- **HighChol** - 0 = sem colesterol alto, 1 = colesterol alto
- **CholCheck** - 0 = sem verificação de colesterol em 5 anos, 1 = sim verificação de colesterol em 5 anos
- **BMI** - Índice de massa corporal
- **Smoker** (Você fumou pelo menos 100 cigarros em toda a sua vida? [Observação: 5 maços = 100 cigarros]?) - 0 = não, 1 = sim
- **Stroke** (Já teve ocorrência de derrame?) - 0 = não, 1 = sim
- **HeartDiseaseorAttack** (Já teve Doença cardíaca coronária (CHD) ou infarto do miocárdio (IM)?) - 0 = não, 1 = sim
- **PhysActivity** (Teve atividade física nos últimos 30 dias, não incluindo trabalho?) - 0 = não, 1 = sim
- **Fruits** (Consome Frutas 1 ou mais vezes por dia?) - 0 = não, 1 = sim
- **Veggies** - (Consome Vegetais 1 ou mais vezes por dia) - 0 = não, 1 = sim
- **HvyAlcoholConsump** (Alto índice de bebidas alcoólicas. Homens adultos que tomam mais de 14 doses por semana e mulheres adultas que tomam mais de 7 doses por semana) - 0 = não, 1 = sim
- **AnyHealthcare** (Tem algum tipo de cobertura de saúde, incluindo seguro saúde, planos pré-pagos como HMO, etc.?) - 0 = não, 1 = sim
- **NoDocbcCost** (Houve algum momento nos últimos 12 meses quando você precisou consultar um médico, mas não pôde por causa do custo?) - 0 = não, 1 = sim
- **GenHlth** (Você diria que, em geral, sua saúde é: Escala 1-5) - 1 = excelente, 2 = muito bom, 3 = bom, 4 = razoável, 5 = ruim
- **MentHlth** (Pensando em sua saúde mental, que inclui estresse, depressão e problemas com emoções, por quantos dias nos últimos 30 dias sua saúde mental não foi boa? Escala) - 1-30 dias
- **PhysHlth** (Pensando em sua saúde física, que inclui doenças físicas e lesões, por quantos dias nos últimos 30 dias sua saúde física não foi boa?) - Escala 1-30 dias
- **DiffWalk** (Você tem sérias dificuldades para caminhar ou subir escadas?) - 0 = não, 1 = sim
- **Sex** (Gênero) - 0 = feminino, 1 = masculino
- **Age** (Categoria de idade) - 1 = 18-24, 9 = 60-64, 13 = 80 ou mais
- **Education** (Nível de educação, escala 1-6) -  1 = Nunca frequentou a escola ou apenas o jardim de infância, 2 = 1ª à 8ª séries (Ensino fundamental), 3 = 9ª à 11ª séries (Ensino médio incompleto), 4 = 12ª série ou GED (Ensino médio completo), 5 = Faculdade de 1 a 3 anos (Faculdade completa ou escola técnica), 6 = Faculdade de 4 anos ou mais (Graduado)
- **Income** - (Renda , escala 1-8) - 1 = menos de USD10.000, 5 = menos de USD35.000, 8 = USD75.000 ou mais

## **TAREFA**


O desafio consiste em explorar as seguintes questões relevantes:

- As perguntas da pesquisa podem fornecer previsões precisas sobre se um indivíduo tem ou não diabetes?
- Quais fatores de risco são mais preditivos do risco de diabetes?
- Podemos usar um subconjunto dos fatores de risco para prever com precisão se um indivíduo tem diabetes?

Caso utilize algum modelo de machine learning rasa para para responder as perguntas, execute todas as etapas necessárias tanto na avaliação dos dados disponíveis quanto na preparação necessária para execução do modelo escolhido.

Todas as etapas devem ser documentadas e as escolhas justificadas.

A performance de um eventual modelo deverá ser avaliada pelas métricas Acurácia, Precision, Recall e F1-Score. Inclua em sua avaliação final de performance Curvas, ROC e/ou Precision-Recall, de acordo com a necessidade.

**Está proibido, neste desafio, o uso de qualquer ferramentaque automatize processo, de análise e/ou modelagem. Todo o processo deve ser feito de forma artesanal, pensando em cada etapa e escolhendo o ferramental apropriado, com as devidas justificativas.**

In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/cassiusf/datasets/refs/heads/main/desafios/diabetes_health_indicators.csv")

In [2]:
df

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [4]:
df.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000